<section>
    <app-navbar></app-navbar>
    <div class="wrapper">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="!text-4xl !mb-7">{{"createtask"| translate}} </h1>
        <div>
          <mat-form-field class="w-full">
            <mat-label>{{"title"| translate}} </mat-label>
            <input matInput type="text" formControlName="title" />
            @if (form.get('title')?.hasError('required')) {
            <mat-error>{{"title"| translate}}  {{"required"| translate}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full">
            <mat-label> {{"description"| translate}}</mat-label>
            <textarea
              id=""
              cols="30"
              rows="10"
              formControlName="description"
              matInput
            ></textarea>
            @if (form.get('description')?.hasError('required')) {
            <mat-error> {{"description"| translate}} {{"required"| translate}}</mat-error>
            }
          </mat-form-field>
        </div>
        <button
          class="w-full"
          type="submit"
          color="primary"
          mat-flat-button
          [disabled]="form.invalid"
        >
        {{"create"| translate}}
        </button>
      </form>
    </div>
</section>

