<div class="wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="!text-4xl !mb-7 text-center">{{"logYourAccount"| translate}}</h1>
      <div class="input-wrapper">
          <mat-form-field class="w-full">
            <mat-label>Email </mat-label>
            <input matInput type="email" formControlName="email" />
            @if (form.get('email')?.hasError('required')) {
            <mat-error>Email  {{"required"| translate}}</mat-error>
            }@if (form.get('email')?.hasError('email')) {
            <mat-error>Email must contain {{'@'}} symbol</mat-error>
            }
          </mat-form-field>
    
      </div>
    <div class="input-wrapper">
        <mat-form-field class="w-full">
          <mat-label>{{"password"| translate}}</mat-label>
          <input
            matInput
            placeholder="**********"
            type="password"
            formControlName="password"
          />
          @if (form.get('password')?.hasError('required')) {
          <mat-error>Password   {{"required"| translate}}</mat-error>
          } @if (form.get('password')?.hasError('minlength')) {
          <mat-error>Password must be at least 3 characters long</mat-error>
          }
        </mat-form-field>
    
    </div>
    <div class="input-wrapper">
      <button
        class="w-full"
        type="submit"
        color="primary"
        mat-flat-button
        [disabled]="form.invalid"
      >
      {{"login"| translate}}
      </button>
    
      <p class="w-full flex justify-center !mt-[22px]">
        {{"dontHaveAccount"| translate}}
        <a class="no-underline text-blue-600" routerLink="/signup">  {{"signup"| translate}}</a>
      </p>

    </div>
    </form>

</div>
